# Data Science tools and Ecosystem #

In this notebook, Data Science tools and ecosystem are summarized

some of the popular language that data science use are :
1. PYTHON 
1. R LANGUAGE
1. SQL
1. JAVASRIPT

Some of the commonly used libraries used by Data science includes :
1. NUMPY
1. TENSORFLOW 
1. MATPLOTIB
1. PANDAS
1. SEABORN

 table of the tools used in data science are as follow:
| data science tools|
|:------------------|
| RSTUDIO |
| APACHE SPARK|
| APACHE HADOOP|
| TENSORFLOW |

### Below are the few examples of evaluating arthimatic expression in python ###

In [1]:
#this is the simple arithematic expression to multiply and then add integers:
(3*4)+5

17

In [2]:
# this will convert 200 minutes into hours by dividing by 60
200/60

3.3333333333333335

In this notebook, Data Science tools and ecosystem are summarized

**Objectives**

* PYTHON 
* R LANGUAGE 
* SQL 
* JULIA 
* SCALA

## AUTHOR ##
JUNAID ELAHI